- if @news.errors.any?
  .alert.alert-dismissible.alert-danger
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Халепа!
    %ul
      - @news.errors.full_messages.each do |message|
        %li= message

.container
  %legend Нова подія
= render 'form'
.col-lg-10.col-lg-offset-2
= link_to 'Назад', admin_news_index_path