.row.first
  .name-conteiner.col-lg-8.col-md-8.col-sm-12.col-xs-12
    .conference-name
      %h1 Hello, Rails!
      %p.notice= notice
      %p.alert= alert
  .contacts.col-lg-4.col-md-4.col-sm-12.col-xs-12
    .conference-det-2
      %ul
