- if @news.errors.any?
  .alert.alert-dismissible.alert-danger
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Халепа!
    %ul
      - @news.errors.full_messages.each do |message|
        %li= message
%fieldset.col-lg-8
  %legend Нова Подія
  - @button_name = 'Edit'
= render 'form'

= link_to 'Назад', news_index_path
