.container
  %p Made by Victoria Shchutska
  .social-network.li
    = link_to href: 'https://vk.com/lviv_prytulok_myloserdia' do
      = image_tag 'facebook-footer.svg', width: 35, height: 35, alt: 'facebook Милосердя'
    = link_to href: 'https://vk.com/lviv_prytulok_myloserdia' do
      = image_tag 'facebook-footer.svg', width: 35, height: 35, alt: 'VK Милосердя'
