
		<footer class="row logoes">
				<ul class="social-network col-lg-12 col-md-12 col-sm-12">

					<li class="logo fb">
						<a href="//www.facebook.com/Shelter?fref=ts">
								<%=image_tag("facebook-footer.svg")%>
						</a>
					</li> 
					<li class="logo lind">
						<a href="//www.linkedin.com/company/softserve?trk=prof-following-company-logo" 
							target="_blank">
							<%=image_tag("linkedin-footer.svg")%>
						</a>
					</li>
					<li class="soft">
						<p>© Shelter, <%= Time.now.year %></p>
					</li>
				</ul>

				<div id ="admin_nav">	

  			</div>	
			</footer>
		</div>