.row
  .col-lg-1.col-md-1.col-sm-1.col-xs-1
  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    = image_tag("title.jpg")
  .col-lg-6.col-md-6.col-sm-6.col-xs-6.logo-img
    = image_tag("logo.jpg")
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Притулок
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            Новини
            %span.sr-only (current)
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Тварини
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li.divider
            %li
              %a{:href => "#"} Separated link
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Контакти
        <!-- = link_to "News", news_path(@news) -->
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Пошук
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Про нас